<div class="container-fluid mt-4 align-items-center">
  <div class="row">
    <div class="col-6">
      <h1>Your cart</h1>
    </div>
    <div class="col-6">
      <%= link_to "Products", products_path, class: "btn btn-success mt-1 float-end" %>
    </div>
  </div>
  <hr/>

  <div class="container mb-5">
    <div class="text-center">
      <p style="color: green"><%= flash[:notice] %></p>
      <p style="color: red"><%= flash[:error] %></p>
    </div>
    <% @cart.cart_items.order(created_at: :asc).each do |cart_item| %>
      <%= render "cart_item", cart_item: %>
    <% end %>
  </div>
</div>
