<div class="mb-3">
  <%= form.label name, class: "form-label" %>
  <%= form.text_field name, class: "form-control" %>
  <% if errors.any? %>
    <p style="color: red"><%= errors.join(", ") %></p>
  <% end %>
</div>
